<div class="nav-container">
  <div class="nav-button" routerLink="/parts">
    <mat-icon>view_in_ar</mat-icon>
    <span>Parts</span>
  </div>

  <div class="nav-button" routerLink="/orders">
    <mat-icon>receipt_long</mat-icon>
    <span>Orders</span>
  </div>

  <div class="nav-button" routerLink="/reports">
    <mat-icon>insights</mat-icon>
    <span>Reports</span>
  </div>

  <div class="nav-button" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </div>
</div>
