::ng-deep .cdk-overlay-pane {
  max-width: unset !important;
}

.container {
  background-color: var(--menu-background-color);
  padding: 2rem 1rem;
  width: 100vw;
}

.detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  button {
    flex-basis: 8rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 80vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 960px) {
  .container {
    width: 50vw;
  }
}
