:root {
  --bg-accent-color: #E7F5FF;
  --element-bg-color: #FFFFFF;
  --accent-color: #1864AB;
  --unselected-grey-color: #868E96;
  --border-grey-color: #dee2e6;

  --bs-breakpoint-md: 768px;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-lg: 992px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-accent-color);
}

/* -------------------------------- Page Layout -------------------------------- */
.page-header-container {
  display: flex;
  margin: 0.5rem 1rem;
  justify-content: flex-end;
  align-items: center;
}
.page-title {
  font-size: 1.75em;
  font-weight: 600;
  margin-right: auto;
}

/* -------------------------------- Common Elements -------------------------------- */
