.page-header-container {
  display: flex;
  margin: 0.5rem 1rem;
  justify-content: flex-end;
  align-items: center;
}
.page-title {
  font-size: 1.75em;
  font-weight: 600;
  margin-right: auto;
}

.container {
  margin: 6px;
}

.search-bar,
.entry-list-item {
  background-color: var(--element-bg-color);
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}
.search-bar svg {
  stroke: var(--unselected-grey-color);
}
.search-bar input {
  border: none;
  margin-left: 0.5rem;
  font-size: 0.75em;
  height: 100%;
}
.search-bar input:focus {
  outline: none;
}

.entry-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  gap: 0.125rem;
}
.btn-circle:hover {
  cursor: pointer;
  -webkit-transition: 0.05s linear transform;
  -moz-transition: 0.05s linear transform;
  -o-transition: 0.05s linear transform;
  transition: 0.05s linear transform;
  transform: scale(1.1);
}
.entry-list-item:focus,
.entry-list-item:hover {
  cursor: pointer;
  -webkit-transition: 0.05s linear transform;
  -moz-transition: 0.05s linear transform;
  -o-transition: 0.05s linear transform;
  transition: 0.05s linear transform;
  transform: scale(1.02);
}
.entry-list-item {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  flex-grow: 1;
  flex-basis: 300px;
}
.entry-list-item-subtitle {
  font-size: 0.75em;
  font-weight: 300;
}
.entry-list-item-title {
  font-size: 1em;
  font-weight: 500;
}
.entry-list-title-container {
}

@media (min-width: 992px) { /* --bs-breakpoint-lg */
  .entry-list-item {
    flex-basis: 30%;
  }
}

