:host {
}

.header-container {
  position: sticky;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  top: 0;
  padding: 0.5rem 1rem;
  grid-row-gap: 0.5rem;

  z-index: 0;
  max-width: 992px;
  border-bottom: 1px solid var(--divider-color);
  background-color: var(--menu-background-color);
}
.borderless {
  border: none;
}
.title-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.title-container,
.right-actions {
  display: flex;
}
.right-actions {
  justify-content: flex-end;
  gap: 4px;
}

.sub-container {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}
