.svg-container {
  background-color: var(--element-bg-color);
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.svg-container:hover {
  cursor: pointer;
}
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;

  border: 1px solid var(--divider-color);
  background-color: var(--menu-background-color);

  ::ng-deep svg {
    stroke: var(--icon-grey-color);
  }
}

.sm {
  padding: 12px;
}
.md {
  padding: 8px;
}
.lg {
  padding: 4px;
}


