<div class="info-header">
  <div class="info-container">
    <span class="info-title">Stock level</span>
    <span class="info-text">{{currentStockLevel}}</span>
  </div>

  <div class="info-container">
    <span class="info-title">Location</span>
    <span class="info-text">{{part?.stockLocation}}</span>
  </div>
</div>

<div class="page-content">
  <div class="update-stock-button">
    <span>Update stock level</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"/><line x1="12" y1="8" x2="12" y2="16"/><line x1="8" y1="12" x2="16" y2="12"/></svg>
  </div>

  <ul class="stock-list">
    <li class="stock-list-entry" *ngFor="let item of part?.stockLevels">
      <div class="stock-info-container">
        <span class="stock-info-title">date</span>
        <span class="stock-info-text">{{item.date.toDateString()}}</span>
      </div>
      <div class="stock-info-container">
        <span class="stock-info-title">stock level</span>
        <span class="stock-info-text">{{item.quantity}}</span>
      </div>
    </li>
  </ul>
</div>
