.page-container {
  padding-bottom: 64px;
  overflow-x: hidden;
  flex-grow: 0;
}

.nav-spacer {
  display: none;
  flex-shrink: 0;
  width: calc(36px + 4rem);
}

@media (min-width: 992px) { /* --bs-breakpoint-lg */
  .app-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-spacer {
    display: block;
  }
  .page-container {
    padding-bottom: 0;
  }
}
