.page-container {
  margin: 6px;
  padding-bottom: 64px;
}

@media (min-width: 992px) { /* --bs-breakpoint-lg */
  .app-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .page-container {
    padding-left: calc(36px + 4rem);
  }
}
