:host {
  margin-top: auto;
}

.nav-container {
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  border-top: 1px solid var(--divider-color);
  background-color: rgba(255, 255, 255, 0.46);//var(--menu-background-color);
}

.nav-button-selected:after {
  display: block;
  content: '';

  width: 2.5rem;
  height: 1px;
  background-color: var(--primary-color);
}

.nav-button:hover {
  cursor: pointer;
}
.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0.5rem 0 0.75rem 0;

  color: var(--unselected-grey-color);

  .svg {
    stroke: var(--unselected-grey-color);
  }

  span {
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.nav-button-selected {
  .nav-button-text {
    color: var(--primary-color) !important;
    font-weight: 500;
  }
  svg {
    stroke: var(--primary-color) !important;
    width: 28px;
    height: 28px;
  }
  span {
    color: var(--primary-color) !important;
    font-weight: 500;
  }
}

@media (min-width: 992px) { /* --bs-breakpoint-lg */
  :host {
    margin-top: unset;
  }
  .nav-container {
    padding: 1rem 0.5rem 1rem 0.5rem;
    flex-direction: column;
    height: 100%;
    border-top: unset;
    border-right: 1px solid var(--divider-color);
  }
  .nav-button {
    flex-grow: 0;
    padding: 1rem 0 1rem 0;
  }
  .nav-button:last-child {
    margin-top: auto;
  }
}
