/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #3f51b5;
  --accent-color: #ff4081;
  --warn-color: #f44336;

  --menu-background-color: #ffffff;
  --page-background-color: #E7F5FF;
  --item-highlight-color: #d9dcf0;

  --icon-grey-color: #495057;
  --unselected-grey-color: #868E96;
  --divider-color: #dee2e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
