.app-container {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

* {
  overflow: hidden;
}

@media (min-width: 992px) { /* --bs-breakpoint-lg */
  .app-container {
    flex-direction: row;
  }
}
