:host:hover {
  cursor: pointer;
}
:host {
  background-color: var(--menu-background-color);
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;

  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.title-container {
  min-width: 0;
  overflow: clip; /* Hide overflowed text */
  flex: 0 1 100px;
}
.extra-container {
  overflow: auto; /* Hide overflowed text */
  min-width: 0;
  flex: 0 1000 5rem;
  .subtitle {
    white-space: nowrap; /* Prevent text from wrapping */
  }
}
.subtitle {
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1;
}
.title {
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Display ellipsis for overflowed text */
}
p {
  margin: 0;
}
svg {
  stroke: var(--icon-grey-color);
  flex-shrink: 0;
}
.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
  flex-shrink: 1;
  padding: 0 0.5rem;

  .subtitle {
    white-space: nowrap;
    overflow: visible;
  }
  .title {
    white-space: nowrap;
    overflow: visible;
  }
}
