<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="placeholder-2">lorem</mat-card-title>
      <mat-card-subtitle class="placeholder-3">lorem</mat-card-subtitle>
      <mat-card-subtitle class="placeholder-5">lorem</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-footer>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title class="placeholder-3">lorem</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-card-footer>
</mat-card>
