<app-page-header>
  <app-page-title>Parts</app-page-title>
  <app-header-action-button>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
  </app-header-action-button>

  <app-header-sub-content>
    <app-search-bar (searchChanged)="searchParts($event)"/>
  </app-header-sub-content>
</app-page-header>
<div class="page-container">
  <ul class="entry-list">
    <ng-container *ngFor="let item of parts">
      <app-parts-list-item [part]="item"/>
    </ng-container>
  </ul>
</div>

<button (click)="openBottomSheet()">Open file</button>
