:host {
  min-height: 100%;
  display: block;
  position: relative;
}

.entry-list {
  padding: 0.5rem 0.25rem;
  * {
    margin-bottom: 0.125rem;
  }
}

.fixed-paginator {
  position: sticky;
  width: 100%;
  bottom: 0;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}
